.container {
    width: 100%;
    max-width: 1280px;
    height: 100%;

    margin: 0 auto;
}

.tag {
    padding: 4px;
    margin-right: 7px;

    border: 1px solid #646363;
    border-radius: 3px;

    color: #646363;
}
